## ðŸ Python Setup & Basics

### 1. Install Python & IDE

* Python â†’ Programming language weâ€™ll use for ML.

* IDE (Integrated Development Environment) â†’ Tools to write/run code.
  Examples:

      * VS Code â†’ Lightweight, customizable (popular in ML).

      * Jupyter Notebook â†’ Interactive coding, great for ML experiments.

      * PyCharm â†’ Full-fledged IDE.

ðŸ‘‰ After installing Python, you can check version:

In [8]:
import sys
print(sys.version)

3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]

### 2. Basic Syntax

* Python code is indentation-based (no {} like C/Java).

* Indentation is spaces/tabs â†’ defines blocks of code.

* Comments start with #.

In [9]:
# print a message
print("Hello, Machine Learning world!")

Hello, Machine Learning world!

In [10]:
if 5 > 2 :
    print("5 is greater than 2")

5 is greater than 2

### 3. Variables

* Think of variables as containers that hold data.

* No need to declare type explicitly.

In [11]:
x = 5 # integer variable
y = 3.5 # float variable
name = "Rahul" # string variable
is_ml = True # boolean variable

print(x,y,name,is_ml)

5 3.5 Rahul True

### 4. Data Types

* Python has built-in data types (important for ML).

| Type  | Example       | ML use case            |
| ----- | ------------- | ---------------------- |
| int   | `10`          | Dataset size, counts   |
| float | `3.14`        | Probabilities, weights |
| str   | `"hello"`     | Labels, text data      |
| bool  | `True/False`  | Binary classification  |
| list  | `[1, 2, 3]`   | Store features         |
| tuple | `(1, 2, 3)`   | Immutable data         |
| dict  | `{"age": 30}` | Key-value (JSON style) |
| set   | `{1, 2, 3}`   | Unique values          |

In [12]:
# Different Data Types
features = [5.1,3.5,1.4,0.2] # list
iris = {"species": "Iris-setosa", "sepal_length": 5.1, "sepal_width": 3.5} # dictionary
unique_labels = {"cat", "Dog", "fish"} # set

print(type(features), type(iris), type(unique_labels))

<class 'list'> <class 'dict'> <class 'set'>

### 5. Type Casting

* Converting data from one type to another.

* Useful in ML when data comes in mixed formats (e.g., CSV has numbers stored as strings).

In [13]:
x = "100"     # string
y = int(x)    # cast to int
z = float(x)  # cast to float

print(x, type(x))
print(y, type(y))
print(z, type(z))

100 <class 'str'>
100 <class 'int'>
100.0 <class 'float'>

Q1: Name the built-in data types in Python.

âœ… Answer: Python has several built-in data types, mainly grouped as:

1. Text Type â†’ str

2. Numeric Types â†’ int, float, complex

3. Sequence Types â†’ list, tuple, range

4. Mapping Type â†’ dict

5. Set Types â†’ set, frozenset

6. Boolean Type â†’ bool

7. Binary Types â†’ bytes, bytearray, memoryview

8. None Type â†’ NoneType

Q2: Difference between list, tuple, and set.

âœ… Answer:

| Feature        | **List**                  | **Tuple**                   | **Set**                       |
| -------------- | ------------------------- | --------------------------- | ----------------------------- |
| **Syntax**     | `[]` â†’ `[1, 2, 3]`        | `()` â†’ `(1, 2, 3)`          | `{}` â†’ `{1, 2, 3}`            |
| **Order**      | Ordered                   | Ordered                     | Unordered (no index)          |
| **Duplicates** | Allowed                   | Allowed                     | Not allowed (unique elements) |
| **Mutable?**   | âœ… Yes (can change)        | âŒ No (cannot change)        | âœ… Yes (but only unique items) |
| **Use Case**   | When you need flexibility | When data should not change | When uniqueness is required   |

Q3: Which data type is mutable and which is immutable?

âœ… Answer:

âœ… Mutable (can change after creation):

list, dict, set, bytearray

âŒ Immutable (cannot change after creation):

int, float, complex, str, tuple, frozenset, bytes, bool

## ðŸ“ Practice Questions

In [15]:
# Q1 - Write a Python program that prints: Hello, Machine Learning!

print("Hello, Machine Learning!")

Hello, Machine Learning!

In [16]:
# Q2 - Write a program that prints your name and age in one line using f-string.
name = "Rahul"
age = 30
print(f"My name is {name} and I am {age} years old.")

My name is Rahul and I am 30 years old.

In [19]:
# Q3 Create variables:
"""
name = "Rahul"
age = 30
is_student = True
Print all variables in a single line."""

name = "Rahul"
age = 30
is_student = True
print(f"Name:{name}, Age:{age}, Is student:{is_student}")

Name:Rahul, Age:30, Is student:True

In [22]:
# Q4 - Swap the values of two variables x = 5 and y = 10 without using a third variable.

x = 5
y = 10
print(f"value swaping: x={y}, y={x}")

x, y  = y, x # Pythonic way to swap values
print(f"After swapping: x={x}, y={y}")

value swaping: x=10, y=5
After swapping: x=10, y=5

In [30]:
# Q5 Create a list of 5 fruits and print the second fruit.

fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print("The second fruit is:", fruits[1])  # Index 1 is the second element

The second fruit is: banana

In [31]:
# Q6 - Create a dictionary with keys: "name", "course", "duration" and print the value of "course".
student_info = {
    "name": "Rahul",
    "course": "Machine Learning",
    "duration": "3 months"
}

print("Course:", student_info["course"])

Course: Machine Learning

In [36]:
# Q7 - Store 10, 20, 30 in a tuple and try to change the first value. What happens? (Explain in a comment).

my_tuple = (10, 20, 30)
my_tuple[0]=100
# This will raise a TypeError because tuples are immutable.
# Uncommenting the line above will result in an error: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [47]:
# Q8 - Convert the string "100" into an integer and add 50.
a = "100"
b = int(a) + 50  # 50 added to the integer value of a
print("Value of b:", b)

Value of b: 150

In [46]:
# Q9 - Convert the float 9.99 into an integer. What is the result? 
a = 9.99
b = int(a)
print("Value of b:", b)

Value of b: 9

In [50]:
# Q10 - Convert the number 123 into a string and concatenate with " ML".

a = str(123)
b = a + " ML"
print("Concatenated value:", b)

Concatenated value: 123 ML

In [5]:
# Q11 - Write a program where: The user enters their name and age. Convert age into an integer.

name = input("Enter your name: ")
age = input("Enter your age: ")
age = int(age)  # Convert age to integer
print(f"Hell, {name}, in 5 years you will be {age +5}  years old.")

Hell, Rahul, in 5 years you will be 35  years old.